<div class="organizer-profile">
  <button routerLink="/">Home</button>

  <h2>Welcome, {{ user?.username }}</h2>
  <p>Email: {{ user?.email }}</p>
  <p>Role: {{ user?.role }}</p>

  <button (click)="logout()">Logout</button>

  <h3>Your Created Events</h3>
  <button (click)="createEvent()">Create New Event</button>

  <app-event-form
    *ngIf="showForm"
    [eventData]="selectedEvent" 
    (saved)="onEventSaved()">
  </app-event-form>

  <div *ngIf="createdEvents.length > 0; else noEvents">
    <div *ngFor="let event of createdEvents"> 
      <app-event-card  [event]="event"></app-event-card>
      <button (click)="editEvent(event)">Edit</button>
      <button (click)="deleteEvent(event.id)">Delete</button>
      <button (click)="toggleParticipants(event.id)">{{ showParticipants ? 'Hide Participants' : 'Show Participants' }}</button>

      <app-event-attendance 
        *ngIf="shownEventId === event.id" 
        [eventId]="event.id">
      </app-event-attendance>

    </div>
  </div>

  <ng-template #noEvents>
    <p>You haven't created any events yet.</p>
  </ng-template>
</div>

